body{

    margin:0;
    padding:0;
    
    font-family:'Poppins';
    
}


/*nav section */
nav{

    display:flex;
    align-items:center;
    justify-content: space-around;
   
}

.nav-items{

    display:flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.nav-item{

    padding-left:50px;
    font-size: large;
    cursor:pointer;
    

}
img[alt="actions"]{
    cursor:pointer;
}
.nav-item:first-of-type{

    color: #fe5e35;
}

/* media queries for nav section */

@media(min-width:1010px){
    div.menu{
        display:none;
    }
    }


    @media screen and (max-width: 1010px)
        {
            nav{
    
                display:flex;
                margin-top:10px;
            }

            div.menu{
                font-size:30px;
                cursor:pointer;
                margin-right:20px;
            }
    
            .nav-items>.nav-item{
    
                display:none
            
            }

            img[alt="logo"]{
                width:100px;
                margin-left:20px;
            }
            
            }

            @media screen and (max-width: 620px){

                img[alt="actions"]{
                    width:300px;
                }
            }

            @media screen and (max-width: 520px){

                img[alt="actions"]{
                    width:220px;
                }
                div.menu{

                    font-size:25px;
                }
                img[alt="logo"]{
                    width:70px;
                }
            }


/*intro-section*/
.intro-section{
 margin-left:5%;
    display:flex;
    justify-content:space-between;
    
    
}

/*left-section */

.left-section{
    line-height:1.1;
}

.left-section h3 {
    font-size:180%;

}
.left-section h1{

    font-size:350%;
    text-shadow: 3px 0 #000; letter-spacing:2px; font-weight:bold;
}

.sub-headlines{
    
    font-size:xx-large;
    margin-left:5%;
    
}

.text{
    
    font-size:13px;
    
    
    width:70%;

color:rgb(158,165,171);    
line-height:1.3;

}

 .left-section button.action-btn{

    border:none;
    background-color:#fe5e35;
    border-radius:30px;
    width:150px;
    height: 50px;
    color:rgba(255, 255, 255, 0.877);
    font-size:large;
    margin-right:20px;
   margin-top:10px;
   cursor:pointer;

}

/* right-section */

.right-section{

    position:relative;
   
}

img[alt="headphone"]{
    width:450px;
    margin-right:120px;
    

}
img[alt="discount"]{

    position: absolute;
    bottom:35%;
    left:0%;
    width:150px;

}
img[alt="discount"] {
            
    -webkit-filter: drop-shadow(5px 5px 50px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }

  .discount-content{
    
    position:absolute;
    bottom:40%;
    left:5%;
    color:#fff;
    font-weight: bolder;

    
}

.discount-content h1{
    text-shadow: 3px 0 #fff; letter-spacing:2px; font-weight:bold;


  }
 .discount-content h1
  {
  line-height:1px;
  }
div.dots{

  display:flex;
  justify-content: space-between;
  width:25%;
 left:28%;
 bottom:15%;
  position:absolute;

}
  div.dot.yellow-dot {
      height: 25px;
      width: 25px;
      background-color:yellow;
      border-radius: 50%;
    }
div.dot.tomato-dot{
  height: 25px;
      width: 25px;
      background-color:tomato;
      border-radius: 50%;

}
  div.dot.black-dot{
      height: 25px;
      width: 25px;
      background-color:black;
      border-radius: 50%;

  }       
  .right-section button.action-btn{

    border:none;
    background-color:#fe5e35;
    border-radius:30px;
    width:150px;
    height: 50px;
    color:rgba(255, 255, 255, 0.877);
    font-size:large;
    margin-top:80px;
    margin-left:150px;
    cursor:pointer;
   
}

/* media queries for intro section */

@media (max-width:1275px){


    img[alt="headphone"]{
        margin-right:20px;
    }

    .right-section button.action-btn{

        margin-left:150px;
       
    }
    div.dots{
        left:35%;
    }
    
}

@media (max-width:1170px){
    .left-section h1{
        font-size:300%;


    }
}
@media (max-width:1115px){
    .intro-section{
        flex-direction: column;
    }

    .left-section{
        margin-left:150px;
    }
    .left-section h3{
        margin-left:150px;
    }

    .left-section h1{
      font-size:400%;
    }
    button.action-btn{
        margin-left:20px;
    }


}

@media (max-width:940px){

    .left-section{

        margin-left:100px;
    }
}
@media (max-width:900px){

    .left-section{

        margin-left:50px;
    }
}
@media (max-width:830px){

    .left-section h1{
        font-size:300%;
      }

}

@media (max-width:650px){

   
      .left-section{

        margin-left:0px;
    }

}
@media (max-width:590px){


    .left-section h1{

        font-size:250%;

    }
    .sub-headlines{
        font-size:large;


    }
    .left-section h3{
        font-size:100%;
    }

    .left-section p{
        font-size:10px;
    }

    img[alt="circles"]{
        width:40px;
    }
    .left-section button.action-btn{
        width:100px;
        font-size:small;
        height:30px;
        
    }
}

@media (max-width:500px){

    .left-section h1{

        font-size:200%;

    }


}

@media (max-width:470px){

    .left-section h1{

        font-size:150%;

    }

}

@media (max-width:1115px){

    .right-section{
        margin-top:100px;
        margin-bottom:50px;
        margin-left:150px;
    }

    div.dots{
        position:relative;
        left:15%;
    }
    
    .right-section button.action-btn{
        margin-left:120px;
        margin-top:30px;

    }
    img[alt="discount"]{
        position:absolute;
        left:0%;
    }
}

@media (max-width:940px){

    .right-section{
        
        margin-left:100px;
    }

}

@media (max-width:900px){

    .right-section{
        
        margin-left:50px;
    }

}


@media (max-width:800px){

    
    div.dots{
        position:relative;
        left:20%;
    }

}

@media (max-width:710px){

    
    div.dots{
        position:relative;
        left:30%;
    }

}

@media (max-width:590px){

    img[alt="headphone"]{
        width:300px;
    }

    img[alt="discount"]{

        width:100px;
        left:0%;
    }
    .discount-content{
        font-size:small;
    }

    .right-section button.action-btn{
        width:100px;
        font-size:small;
        height:30px;
        margin-left:100px;
        
    }

    div.dot.yellow-dot {
        height: 15px;
        width: 15px;
        
      }
  div.dot.tomato-dot{
    height: 15px;
        width: 15px;
      
  }
    div.dot.black-dot{
        height: 15px;
        width: 15px;
        
  
    }    

    div.dots{
        left:15%;
        position:absolute;
    }
}
   
    @media (max-width:560px){

        div.dots{
            left:20%;
            position:absolute;
        }
    }


        @media (max-width:540px){

            div.dots{
                left:25%;
                position:absolute;
            }
            .right-section{
                margin-left:30px;
            }

    }

   




